body {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: #00254a;
    a {
        color: #00254a;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.container {
    max-width: 960px;
    margin:0 auto;
}

/*
 Adding component
 */
x-add-component button {
    margin-bottom: 20px;
}

/*
    Comminication
 */
x-sender-component button{
    margin-bottom: 20px;
}

/*
    Directives
 */
.checked {
    background-color: lightblue;
}
.radio-checked {
    background-color: beige;
}

/*
    TODO
 */
.todo-item {
    display: flex;
}
.todo-item input[type="checkbox"] {
    margin-right: 10px;
}
.todo-item .del{
    margin-left: 10px;
    font-size: small;
    cursor: pointer;
    vertical-align: center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1px;
}
.done {
    text-decoration: line-through;
}

/*
    Modal
*/
x-delete-button {
    display: inline-block;
    a {
        display: inline-block;
    }
}
.form-buttons
{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.form-submit
{
    padding: 10px;
    border-radius: 5px;
    transition: filter 0.3s ease;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}
.form-submit.cancel {
    background: #333;
    color: white;
    text-decoration: none;
}
.form-submit.delete {
    background: #c70000 ;
    border: none;
    color: white;
}
.delete-button {
    cursor: pointer;
    background: #c70000 ;
    border: none;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6); /* przezroczyste przyciemnienie */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 450px;
    max-width: 90%;

    .msg {
        padding: 20px 0px;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }
    input {
        width: 100%;
        padding: 10px;
    }
    .buttons {

    }
}